{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://www.facebook.com/BibashJr/"><img src="{% static 'images/fb.svg' %}" alt="..."></a></li>
        <!-- <li><a href="javascript:void(0)"><img src="{% static 'images/insta.svg' %}" alt="..."></a></li> -->
        <li><a href="https://github.com/bibashkoirala"><img src="{% static 'images/twitter.svg' %}" alt="github"></a></li>
        <li><a href="https://www.linkedin.com/in/bibash-jr-koirala/"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by <a href="https://www.facebook.com/BibashJr" target="_blank">BibashJr</a></p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->